<!-- Calling the database model to allow the rendering of information-->
@model IEnumerable<BigData.Models.ViewModels.PersonVM>
@{
    ViewBag.Title = "Details";
}

<!--Used to generate map with API-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>


<div class="content">
    <div class="row">
        <!-- Large Column Left-->
        <div class="col-md-6">
            <!--First Name Area-->
            <div class="row">
                <div class="col-md-8">
                    <h2><b>@Model.FirstOrDefault().FullName</b></h2>
                    <hr />
                </div>
            </div>
            <!--Peferred Name Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   PreferredName:</b></p></div>
                <div class="col-md-8"><p>@Model.FirstOrDefault().PreferredName</p></div>
            </div>
            <!--Phone Number Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Phone:</b></p></div>
                <div class="col-md-8"><a href="tel:@Model.FirstOrDefault().PhoneNumber">@Model.FirstOrDefault().PhoneNumber</a></div>
            </div>
            <!--Fax Number Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Fax:</b></p></div>
                <div class="col-md-8"><p>@Model.FirstOrDefault().FaxNumber</p></div>
            </div>
            <!--Email Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Email:</b></p></div>
                <div class="col-md-8"><a href="mailto:@Model.FirstOrDefault().EmailAddress">@Model.FirstOrDefault().EmailAddress</a></div>
            </div>
            <!--Date of Arrival Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Start Date:</b></p></div>
                <div class="col-md-8"><p>@Model.FirstOrDefault().ValidFrom</p></div>
            </div>

            <!--Feature 2 Code, allows additional details to be displayed-->
            @if (ViewBag.Result == true)
            {
                <h3>Company Details</h3>
                <hr />
                <!--Company Name Area-->
                <div class="row">
                    <div class="col-md-4"><p>Company Name:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyName</p></div>
                </div>
                <!--Company Phone Area-->
                <div class="row">
                    <div class="col-md-4"><p>Phone Number:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyPhone</p></div>
                </div>
                <!--Company Fax Area-->
                <div class="row">
                    <div class="col-md-4"><p>Fax Number:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyFax</p></div>
                </div>
                <!--Company Website Area-->
                <div class="row">
                    <div class="col-md-4"><p>Website:</p></div>
                    <div class="col-md-8"><p><a href="@Model.FirstOrDefault().CompanyWebsite" target="_blank">@Model.FirstOrDefault().CompanyWebsite</a></p></div>
                </div>
                <!--Member since for company Area-->
                <div class="row">
                    <div class="col-md-4"><p>Member Since:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyValidFrom</p></div>
                </div>

                <h3>Purchases</h3>
                <hr />
                <!--Total Orders Area-->
                <div class="row">
                    <div class="col-md-4"><p>Total Orders:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().Orders</p></div>
                </div>
                <div class="row">
                <!--Gross Sales Area-->
                    <div class="col-md-4"><p>Gross Sales:</p></div>
                    <div class="col-md-8"><p>$@Model.FirstOrDefault().GrossSales</p></div>
                </div>
                <div class="row">
                <!--Total Profit Area-->
                    <div class="col-md-4"><p>Total Profit:</p></div>
                    <div class="col-md-8"><p>$@Model.FirstOrDefault().GrossProfit</p></div>
                </div>

                <!-- Table to display Item Purchase info-->
                <h3>Most Profitable Items</h3>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().StockItemID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().ItemDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().LineProfit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().SalesPerson)
                        </th>
                    </tr>
                    @foreach (var item in Model.FirstOrDefault().ItemPurchaseSummary)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StockItemID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineProfit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalesPerson)
                            </td>
                        </tr>
                    }
                </table>
            }

        </div>

        <!-- Large Column Right -->
        <div class="col-lg-6">
            <div>
                <!--Photo Area-->
                <img src="https://via.placeholder.com/250x350?text=Photo" />
            </div>
            <!--Map -->
            @if (ViewBag.Result == true)
            {
            <div>
                <h3>Company Location:</h3>
                <!--Area-->
                <p>@Model.FirstOrDefault().CompanyCity, @Model.FirstOrDefault().CompanyState, @Model.FirstOrDefault().CompanyZip</p>

                <div id="mapid"></div>
                <!-- Script here actual intializes the longitude and latitude-->
                <script>
                    // center of the map
                    var center = [@Model.FirstOrDefault().Latitude,@Model.FirstOrDefault().Longitude];

                    // Create the map
                    var map = L.map('mapid').setView(center, 13);

                    // Set up the OSM layer
                    L.tileLayer(
                        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            maxZoom: 18
                        }).addTo(map);

                    // add a marker in the given location
                    L.marker(center).addTo(map);
                </script>

            </div>
            }
        </div>
    </div>
</div>