<!-- Calling the database model to allow the rendering of information-->
@model IEnumerable<BigData.Models.ViewModels.PersonVM>
@{
    ViewBag.Title = "Details";
}
<div class="content">
    <div class="row">
        @* Large Column Left *@

        <div class="col-md-6">
            <!--First Name Area-->
            <div class="row">
                <div class="col-md-8">
                    <h2><b>@Model.FirstOrDefault().FullName</b></h2>
                    <hr />
                </div>
            </div>
            <!--Peferred Name Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   PreferredName:</b></p></div>
                <div class="col-md-8"><p>@Model.FirstOrDefault().PreferredName</p></div>
            </div>
            <!--Phone Number Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Phone:</b></p></div>
                <div class="col-md-8"><a href="tel:@Model.FirstOrDefault().PhoneNumber">@Model.FirstOrDefault().PhoneNumber</a></div>
            </div>
            <!--Fax Number Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Fax:</b></p></div>
                <div class="col-md-8"><p>@Model.FirstOrDefault().FaxNumber</p></div>
            </div>
            <!--Email Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Email:</b></p></div>
                <div class="col-md-8"><a href="mailto:@Model.FirstOrDefault().EmailAddress">@Model.FirstOrDefault().EmailAddress</a></div>
            </div>
            <!--Date of Arrival Area-->
            <div class="row">
                <div class="col-md-4"><p><b>   Start Date:</b></p></div>
                <div class="col-md-8"><p>@Model.FirstOrDefault().ValidFrom</p></div>
            </div>

            @if (Model.FirstOrDefault().CompanyName != null)
            {
                <h3>Company Details</h3>
                <hr />

                <div class="row">
                    <div class="col-md-4"><p>Company Name:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyName</p></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><p>Phone Number:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyPhone</p></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><p>Fax Number:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyFax</p></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><p>Website:</p></div>
                    <div class="col-md-8"><p><a href="@Model.FirstOrDefault().CompanyWebsite" target="_blank">@Model.FirstOrDefault().CompanyWebsite</a></p></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><p>Member Since:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().CompanyValidFrom</p></div>
                </div>

                <h3>Purchases</h3>
                <hr />
                <div class="row">
                    <div class="col-md-4"><p>Total Orders:</p></div>
                    <div class="col-md-8"><p>@Model.FirstOrDefault().Orders</p></div>
                </div>
                <div class="row">
                    <div class="col-md-4"><p>Gross Sales:</p></div>
                    <div class="col-md-8"><p>$@Model.FirstOrDefault().GrossSales</p></div>
                </div>
                <div class="row">
                    <div class="col-md-4"><p>Total Profit:</p></div>
                    <div class="col-md-8"><p>$@Model.FirstOrDefault().GrossProfit</p></div>
                </div>

                <h3>Most Profitable Items</h3>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().StockItemID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().ItemDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().LineProfit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ItemPurchaseSummary.FirstOrDefault().SalesPerson)
                        </th>
                    </tr>
                    @foreach (var item in Model.FirstOrDefault().ItemPurchaseSummary)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StockItemID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineProfit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalesPerson)
                            </td>
                        </tr>
                    }
                </table>
            }

        </div>

        <!-- Large Column Right -->
        <div class="col-lg-6">
            <div>
                <!--Photo Area-->
                <img src="https://via.placeholder.com/250x350?text=Photo" />
            </div>
        </div>
    </div>
</div>
